[submodule "ROUGE2/vendor/spdlog"]
	path = ROUGE2/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ROUGE2/ROUGE2/vendor/glm"]
	path = ROUGE2/ROUGE2/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "ROUGE2/vendor/GLFW"]
	path = ROUGE2/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "ROUGE2/vendor/imgui"]
	path = ROUGE2/vendor/imgui
	url = https://github.com/TheCherno/imgui
