*.ipch filter=lfs diff=lfs merge=lfs -text
ROUGE2/.vs/ROUGE2/v16/ipch/AutoPCH/6b7d6ce62b003cbd/LOG.ipch filter=lfs diff=lfs merge=lfs -text
ROUGE2/.vs/ROUGE2/v16/ipch/AutoPCH/deb94a907042c7aa/ROUGE2.ipch filter=lfs diff=lfs merge=lfs -text
